@import "font.scss";

.section__main--button {
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  background-image: url(./../images/pixel-button-grey.svg);
  background-size: cover;
  width: auto;
  font-family: "Retro Gaming";
  border: none;
  width: 205px;
  height: 50px;
  font-size: 22px;
  background-color: transparent;
  transition: 0.2s;
}

.grey {
  width: 240px;
  height: 55px;
}

body {
  background-color: rgba(36, 34, 34, 1);
  color: white;
  font-family: "Retro Gaming";
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
footer {
  font-size: 1.6rem;
}
.pixel-key {
  height: fit-content;
}
