:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.6rem;
}
html {
  background-image: url(/images/background.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100vh;
}
main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// CSS GLOBAL DES SECTIONS //
.home,
.rules,
.key {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  opacity: 1;
  transition: 0.2s;
}
.home__image img,
.rules__image img,
.key__main--picture img {
  width: 150px;
  height: auto;
  margin-block: 20px;
}
.home__button,
.rules__button,
.key__main--button {
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  background-image: url(/images/pixel-button.svg);
  background-size: cover;
  width: auto;
  font-family: "Retro Gaming";
  border: none;
  width: 205px;
  height: 50px;
  font-size: 1rem;
  background-color: transparent;
  transition: 0.2s;
  margin-bottom: 20px;
}
.grey {
  background-image: url(/images/pixel-button-grey.svg);
  padding: 10px 15px;
  width: 240px;
  height: 55px;
  color: rgba(0, 0, 0, 0.4);
}
// FIN CSS GLOBAL SECTION //

// CSS HEADER //
.header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.header--title {
  text-align: center;
  width: 80%;
  margin-top: 35px;
}
// FIN CSS HEADER //

// CSS HOME //
.home__image img {
  margin-top: 15vh;
}
.home__title {
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

// CSS SECTION RULES //
.rules__text {
  width: 90%;
  text-align: left;
  margin-top: 20px;
  font-size: 0.8rem;
}
.rules__text--important {
  width: 90%;
  text-align: left;
  margin-top: 60px;
}
.rules h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  width: 80vw;
}
// FIN CSS RULES //

// CSS SECTION KEY //
.index__key {
  width: 100vw;
  height: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
.key h2 {
  font-size: 1.2rem;
}
.key {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}
.key__footer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.key__main--picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  height: 200px;
}
.indiceImage {
  object-fit: contain;
  min-width: 200px;
  height: auto;
  max-height: 200px;
}
.pixel-key {
  height: fit-content;
  width: 40px;
}
.center {
  margin-top: 20px;
  text-align: center;
}

.key__main--distance {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 10px;
  span {
    font-weight: bold;
  }
}
.key__main--text {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 0.9rem;
  width: 90vw;
}
.key__main--button {
  margin-top: 25px;
}
// FIN CSS RULES //

.d-none {
  display: none;
  margin-right: 50px;
  opacity: 0;
  transition: 0.2s;
}

@media (max-height: 650px) {
}
