:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}
body {
  width: 100vw;
  height: 100vh;
  // background-image: url(./../images/background.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
}
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    text-align: center;
    width: 80%;
  }
}
.section__main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .section__main--img img {
    width: 150px;
    height: auto;
  }
  .section__main--img2 img {
    width: 150px;
    height: auto;
    margin-block: 20px;
  }
  .section__main--title {
    width: 80%;
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .section__main--text {
    width: 90%;
    text-align: left;
    margin-top: 20px;
  }
  .section__main--button {
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    background-image: url(./../images/pixel-button.svg);
    background-size: cover;
    width: auto;
    font-family: "Retro Gaming";
    border: none;
    width: 205px;
    height: 50px;
    font-size: 22px;
    background-color: transparent;
    transition: 0.2s;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
