// CSS HOME //
.home__image img {
    margin-top: 15vh;
    width: 250px;
  }
  .home__title {
    width: 80%;
    font-size: 1.4rem;
    margin-bottom: 30px;
    margin-top: 5vh;
  }
  // FIN SECTION HOME
