// CSS SECTION KEY //
.index__key {
  width: 100vw;
  height: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
.key h2 {
  font-size: 1.2rem;
}
.key {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10vh;
}
.key__footer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.key__main--picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}
.indiceImage {
  object-fit: contain;
  min-width: 200px;
  height: auto;
  max-height: 200px;
}
.pixel-key {
  height: fit-content;
  width: 40px;
}
.center {
  margin-top: 2vh;
  text-align: center;
}

.key__main--distance {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-bottom: 10px;
  span {
    font-weight: bold;
  }
}
.key__main--text {
  margin-bottom: 10px;
  margin-top: 1vh;
  font-size: 0.9rem;
  width: 90vw;
}
.key__main--button {
  margin-top: 2vh;
}
#timer {
  margin-top: 5vh;
}
// FIN CSS KEY //
